In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [15]:
driver = webdriver.Chrome()

In [16]:
driver.get("https://www.naukri.com/")

In [17]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [18]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [19]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [21]:
salary_range = driver.find_element(By.XPATH,'//span [@class="styles_ellipsis__cvWP1 styles_filterLabel__jRP04"]')
salary_range.click()

In [22]:
job_title =[]
job_location = []
company_name = []
experience_required = []

In [23]:
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')[:10]
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')[:10]    
for i in location_tags:
    location = i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//a [@class=" comp-name mw-25"] ')[:10]   
for i in company_tags:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//SPAN[@class="expwdth"]')[:10]   
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [24]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [25]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Analyst | Insurance,Delhi / NCR,Cars24,5-8 Yrs
1,Data Analyst,New Delhi,Business Toys,0-5 Yrs
2,Data Analyst,New Delhi,Business Toys,0-1 Yrs
3,Apprentice-Data Analyst,Gurugram,Business Toys,0-1 Yrs
4,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Nextcomm Corporation India,1-8 Yrs
5,Data Analyst,Gurugram,Aryng,1-3 Yrs
6,NIIT is Urgently hiring Data Analyst(Gurgaon),Gurugram,NIIT,5-10 Yrs
7,Data Analyst - Tableau - IIM/ISB/MDI/FMS,Gurugram,Business Toys,3-6 Yrs
8,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Business Toys,1-3 Yrs
9,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Business Toys,3-5 Yrs

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [26]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get("https://www.shine.com/")

In [33]:
designation = driver.find_element(By.XPATH,'//*[@id="id_q"]')
designation.send_keys('Data Analyst')

In [34]:
location= driver.find_element(By.XPATH,'//div [@id="select_container_id_loc"] /input')
location.send_keys('Bangalore')

In [36]:
search = driver.find_element(By.XPATH,'//div [@class="searchForm_btnWrap_advance__VYBHN"]')
search.click()

In [37]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [38]:
title_tags = driver.find_elements(By.XPATH,'//strong [@class="jobCard_pReplaceH2__xWmHg"] ')[:10]
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//div [@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]    
for i in location_tags:
    location = i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//div [@class="jobCard_jobCard_cName__mYnow"]')[:10]  
for i in company_tags:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//div [@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]   
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs
2,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
3,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Data Analyst,Bangalore,ltimindtree limited,5 to 10 Yrs
6,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Analyst,Bangalore,vision india services private limit...,2 to 4 Yrs
9,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs

# Q3: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for ‚Äúsneakers‚Äù in the search field.

In [155]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [156]:
driver = webdriver.Chrome()

In [157]:
driver.get("https://www.flipkart.com/")

In [158]:
product_detail = driver.find_element(By.CLASS_NAME,"Pke_EE")
product_detail.send_keys('Sneakers')

In [159]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__"  )
search.click()

In [160]:
product_brands =[]
product_descriptions =[]
product_prices=[]

In [164]:
while len(product_brands) < 100:
    product_brand_lists = driver.find_elements(By.XPATH,'//div [@class="syl9yP"]')
    for product_brand in product_brand_lists:
        if len(product_brands) >= 100:
            break
        brand = product_brand.text
        product_brands.append(brand)
        
    product_description_lists = driver.find_elements(By.XPATH,'//a [@class="WKTcLC"]')
    for product_description in product_description_lists:
        if len(product_descriptions) >= 100:
            break
        description = product_description.text
        product_descriptions.append(description)
        
    product_price_lists = driver.find_elements(By.XPATH,'//div [@class="Nx9bqj"]')
    for product_price in product_price_lists:
        if len(product_prices) >= 100:
            break
        price = product_price.text
        product_prices.append(price)
        
    if len(product_descriptions) == 100:      
        next_button = driver.find_element(By.XPATH,'//a [@class="_9QVEpD"]')
        next_button.click()
        time.sleep(3)

In [165]:
print(len(product_brands),len(product_descriptions),len(product_prices))

100 99 100

In [166]:
import pandas as pd
df=pd.DataFrame({'Brand':product_brands,'Description':product_descriptions,'Price':product_prices})
df

ValueError: All arrays must be of the same length

# Q4: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [69]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [70]:
driver = webdriver.Chrome()

In [71]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [72]:
product_ratings = []
review_summaries =[]
full_reviews =[]

In [73]:
start = 0
end = 10
for page in range(start,end):

    product_rating_lists = driver.find_elements(By.XPATH,'//div [@class="XQDdHH Ga3i8K"]')
    for product_rating in product_rating_lists:
        rating = product_rating.text
        product_ratings.append(rating)
        
    review_summary_elements = driver.find_elements(By.XPATH,'//p [@class="z9E0IG"]')
    for review_summary in review_summary_elements:
        summary_text = review_summary.text
        review_summaries.append(summary_text)  
        
    full_review_elements = driver.find_elements(By.XPATH,'//div [@class="ZmyHeo"]')
    for full_review_element in full_review_elements:
        review_text = full_review_element.text
        full_reviews.append(review_text)
    
next_button = driver.find_element(By.XPATH,'//a [@class="_9QVEpD" ]')
next_button.click()
time.sleep(3)

In [74]:
print(len(product_ratings),len(review_summaries),len(full_reviews))

100 100 100

In [75]:
import pandas as pd
df=pd.DataFrame({'Rating':product_ratings,'Review Summary':review_summaries,'Full Review':full_reviews})
df

,Rating,Review Summary,Full Review
0,5,Best in the market!,Good Camera
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Just wow!,Perfect Product!!
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Terrific,Very very good
96,5,Must buy!,It‚Äôs really awesome
97,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è
98,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
99,5,Perfect product!,Photos super

# Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

In [103]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [104]:
driver = webdriver.Chrome()

In [105]:
driver.get("https://www.amazon.in/")

In [106]:
product = driver.find_element(By.ID, "twotabsearchtextbox")
product.send_keys('Laptop')

In [107]:
search = driver.find_element(By.ID,"nav-search-submit-button")
search.click()

In [108]:
filter_product = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i') 
filter_product.click()

In [109]:
product_title =[]
product_rating =[]
product_price =[]

In [110]:
title_tag = driver.find_elements(By.XPATH,'//div [@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[:10]
for i in title_tag:
    title = i.text
    product_title.append(title)
    
product_rating_list = driver.find_elements(By.XPATH,'//i [@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')[:10]
for i in product_rating_list:
    rating = i.text
    product_rating.append(rating)  
    
product_price_list = driver.find_elements(By.XPATH,'//span [@class="a-price-whole"]')[:10]
for i in product_price_list:
    price = i.text
    product_price.append(price)

In [111]:
print(len(product_title),len(product_rating),len(product_price))

10 10 10

In [112]:
import pandas as pd
df=pd.DataFrame({'Title':product_title,'Rating':product_rating,'Price':product_price})
df

                                               Title Rating   Price
0  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...         52,999
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...         50,382
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...         78,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...         62,933
4  ASUS [Smartchoice] Vivobook 15, Intel Core i7-...         61,990
5  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...         77,490
6  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...         64,490
7  HP Victus Windows 11 Home Gaming Laptop,12Th G...         77,490
8  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...         70,990
9  Acer Travelmate Business Laptop Intel Core i7-...         47,990

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [113]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [114]:
driver = webdriver.Chrome()

In [115]:
driver.get("https://www.azquotes.com/")

In [116]:
quote = driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
quote.click()

In [117]:
quotes =[]
authors =[]
quotes_type=[]

In [118]:
start = 0
end = 10
for page in range(start,end):

    top_quotes = driver.find_elements(By.XPATH,'//a [@class="title"] ')[:1000]
    for i in top_quotes:
        quote = i.text
        quotes.append(quote)
        
    authors_list = driver.find_elements(By.XPATH,'//div [@class="author"]')[:1000]  
    for i in authors_list:
        author = i.text
        authors.append(author)
        
    type_of_quotes = driver.find_elements(By.XPATH,'//div [@class="tags"]') [:1000] 
    for i in type_of_quotes:
        quote_type = i.text
        quotes_type.append(quote_type)
        
next_button = driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[3]/li[12]/a')
next_button.click()
time.sleep(3)

In [119]:
print(len(quotes),len(authors),len(quotes_type))

1000 1000 1000

In [120]:
import pandas as pd
df=pd.DataFrame({'Quote':quotes,'Author':authors,'Type':quotes_type})
df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q7: Write a python program to display list of 50 Most expensive cars in the world

In [134]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import warnings
warnings.filterwarnings('ignore')

In [150]:
driver = webdriver.Chrome()

In [136]:
driver.get("https://www.motor1.com/")

In [137]:
search = driver.find_element(By.XPATH,'//*[@id="search_input"]')
search.send_keys('50 most expensive cars')

In [138]:
search_button = driver.find_element(By.XPATH,'//*[@id="header_search_form"]/button[1]')
search_button.click()

In [139]:
click_content = driver.find_element(By.XPATH,'//*[@id="page_index_articles_search"]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
click_content.click()

In [140]:
car_name = []
car_price = []

In [147]:
names_of_car = driver.find_elements(By.XPATH,'//* [@class="subheader"]')[:50]
for i in names_of_car:
    car = i.text
    car_name.append(car)
    
price_of_car = driver.find_elements(By.XPATH,'//p/strong')[:50]  
for i in price_of_car:
    price = i.text
    car_price.append(price)

In [148]:
print(len(car_name),len(car_price))

50 50

In [149]:
import pandas as pd
df=pd.DataFrame({'Car_Name':car_name,'Car_Price':car_price})
df

                                     Car_Name                    Car_Price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profil√©e         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)